@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
/* Imports font using Google fonts API */

* {
    /* Sets general CSS */
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

* ::selection{
    background-color: rgba(127, 255, 212, 0.211);
}

body{
    /* Sets CSS for whole body section */
    transition: 0.3s;
    color:#2b2b2b;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='78' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bababa' fill-opacity='0.1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header {
    /* Sets CSS for header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Setting CSS for font styles */
h2 {
    font-size: 34px;
}

h3{
    font-size: 23   px;
}

p{
    font-weight: 300;
    font-size: 20px;
    line-height: 2;
}

.header-menu a{
    /* Sets CSS for header menu links */
    display: inline-block;
    transition: 0.1s;
    margin-left: 20px;
    text-decoration: none;
    color:#2b2b2b;
    padding: 10px 15px;
    border-radius: 20px;
}

.header-logo{
    /* Sets CSS for header logo */
    transition: 0.25s;
    user-select: none;
}

.header-logo:hover {
    /* Sets hover state for header logo */
    cursor: pointer;
    transform: translate(0, -5px);
}

.header-menu a:hover,
.header-menu a.active {
    /* Sets CSS for menu link hover and active states */
    transform: scale(1.12);
    background-color: #2b2b2b;
    color: white;
}

.dark .header-menu a{
    /* sets CSS for dark theme menu links */
    color: #fff;
}

.dark .header-menu a:hover,
.dark .header-menu a.active {
    /* sets CSS for dark theme header menu links hover states */
    background-color: #fff;
    color:#2b2b2b;
}

.header-switch {
    /* Sets CSS for light mode switch */
    width: 65px;
    height: 35px;
    border-radius: 20px;
    background-color: #2b2b2b;
    position: relative;
    margin: 20px
}

.dark .header-switch{
    /* sets CSS for dark theme light mode switch */
    background-color: #fff;
}

.flicker{
    /* Creates flicker for light mode switch */
    width: 25px;
    height: 25px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: inherit;
    top: 5px;
    left: 5px;
    transition: 0.3s;
    box-shadow: 
        inset 4px 4px 4px rgb(255,255,255),
        inset -4px -4px -4px rgba(211 211 211 / 90%);
    z-index: 10;
}

.dark .flicker {
    /* sets CSS for dark mode flicker */
    background-color: #2b2b2b;
}

.moon {
    /* Creates moon symbol for light mode switcher using CSS */
    width: 17px;
    height: 17px;
    border-radius: 10px;
    box-shadow: 3px 3px 0 0 rgba(255, 255, 255, 0.565);
    position: absolute;
    top: 5px;
    left: 35px;
    z-index: 9;
}

.sun {
    /* Creates sun symbol for light mode switcher using CSS */
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    background-color: #2b2b2b6e;
    position: absolute;
    top: 7px;
    left: 6px;
}

.header-right{
    /* aligns items within the right part of the header */
    display: flex;
    align-items: center;
}

.dark {
    /* sets CSS settings for dark theme */
    background-color: rgb(40, 40, 40);
    background-image: url("data:image/svg+xml,%3Csvg width='156' height='78' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bababa' fill-opacity='0.02'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.dark .flicker{
    /* moves flicker when dark mode is activated or deactivated */
    transform: translateX(30px);
}

.dark > * {
    /* Applies white text colour to all sections during dark theme */
    color:rgb(255, 255, 255);
}

.hero{
    /* sets alignment and distributiojn for header section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.hero-text h1{
    /* sets specific CSS for h1 tag in hero-text class */
    font-size: 7rem;
    text-align: center;
    user-select: none;
    z-index: 3;
}

.hero-btn a{
    /* sets specific CSS for a tag in hero-btn class */
    transition: 0.25s;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px;
    background-color: #2b2b2b;
    color: #fff;
    border-radius: 25px;
}

.dark .hero-btn a{
    /* sets CSS for a tag in hero-btn class in dark mode */
    background-color: #FFF;
    color: #2b2b2b;
}
.hero-btn a:hover{
    /* sets hover state for hero-btn */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.what {
    /* sets alignment and distribution for what class */
    user-select: none;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    gap: 30px;
    height: 250px;
    border-radius: 20px;
}

.what:hover{
    /* sets hover state for what class */
    transform: translate(0, -10px);
}

.why {
    /* sets alignment and distribution for why class */
    user-select: none;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;
    gap: 30px;
    height: 250px;
    border-radius: 20px;
}

.why:hover{
    /* sets hover state for why class */
    transform: translate(0, -10px);
}

.principles{
    /* sets alignment and distribution for principles class */
    user-select: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
    gap: 50px;
}

.principles-text{
    /* sets CSS for principles-text class using flex */
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.principles-text:hover{
    /* sets hover state for principles-text class */
    transform: translate(0, -10px)
}

.principles-cards{
    /* sets alignment and distribution for principles-cards class */
    display: flex;
    gap:20px;
}

.card {
    /* sets up card class with visual elements */
    transition: 0.25s;
    display: inline-block;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    flex-wrap: nowrap;
    background-color: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px #2b2b2b16;
}

.card:hover{
    /* sets hover state for card class */
    user-select: none;
    transform: translate(0, -10px);
    transform: scale(1.3);
    cursor: pointer;
    background-color: #c9fff50a;
    backdrop-filter: blur(100px);
}

.dark .card{
    /* sets CSS for card class when in dark mode */
    background-color: #3d3d3d;
}

.dark .card:hover{
    user-select: none;
    transform: translate(0, -10px);
    transform: scale(1.3);
    cursor: pointer;
    background-color: #c9fff50a;
    backdrop-filter: blur(100px);
}
.credits{
    /* sets alignment and distribution for credits class */
    user-select: none;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 193, 193);
}

.dark .credits{
    /* sets CSS for credits in dark mode */
    background-color: #181818;
}

.parallax{
    /* creates parallex effect */
    background: url(./works.jpeg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
